einops>=0.7.0
python-box
opencv-python
open3d
pyyaml
pillow>=9.0.0,<11.0
scipy
timm
termcolor
numpy>=1.23.5,<2.0
matplotlib
tqdm
mmengine>=0.10.0
supervision
transformers==4.45.2
pycocotools
shapely
xformers
